<div class="bg-black text-white p-6 flex items-center">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/2048px-Angular_full_color_logo.svg.png" alt="" width="40px">
    <p class="text-3xl ml-5">Mi app</p>
</div>

<!--  navegacion  -->
<div>
    <ul class="flex divide-x mt-4">
        <li routerLinkActive="bg-violet-500" class="mx-4"><a class="bg-blue-200 px-4 py-2 rounded-lg" routerLink="/" >Inicio</a></li>
        <li routerLinkActive="bg-violet-500" class="mx-4"><a class="bg-blue-200 px-4 py-2 rounded-lg" routerLink="/servicios">Servicios</a></li>
        <li routerLinkActive="bg-violet-500" class="mx-4"><a class="bg-blue-200 px-4 py-2 rounded-lg" routerLink="/portafolio">Portafolio</a></li>
        <li routerLinkActive="bg-violet-500" class="mx-4"><a class="bg-blue-200 px-4 py-2 rounded-lg" routerLink="/contactos">Contáctenos</a></li>
    </ul>
</div>
<!--
<div>
    <ul class="flex divide-x mt-4">
        <li class="mx-4"><a class="bg-blue-200 px-4 py-2 rounded-lg" routerLinkActive="bg-violet-500" [routerLink]="['/']" >Inicio</a></li>
        <li class="mx-4"><a class="bg-blue-200 px-4 py-2 rounded-lg" routerLinkActive="bg-violet-500" [routerLink]="['/servicios', 'servicios', 'web']">Servicios</a></li>
        <li class="mx-4"><a class="bg-blue-200 px-4 py-2 rounded-lg" routerLinkActive="bg-violet-500" [routerLink]="['/portafolio']">Portafolio</a></li>
        <li class="mx-4"><a class="bg-blue-200 px-4 py-2 rounded-lg" routerLinkActive="bg-violet-500" [routerLink]="['/contactos']">Contáctenos</a></li>
    </ul>
</div>
-->