<h1 class="text-2xl my-5">PORTAFOLIO</h1>


<a class="px-4 py-2 text-white rounded-lg bg-blue-500" [routerLink]="['web']">web</a>
<a class="px-4 py-2 text-white rounded-lg bg-blue-500 my-5 ml-4" [routerLink]="['video']">Videos</a>

<div class="bg-orange-200 my-7">
    <router-outlet></router-outlet>
</div>

<p class="my-8">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore veniam nesciunt voluptas repellendus. Fugiat nemo aperiam in enim inventore, modi expedita debitis rem recusandae facere sed, beatae, dignissimos harum laudantium?</p>

<img src="https://picsum.photos/id/237/400/400" alt="">
